/*
* global
*-------    
*/

/* modern browsers clearfix */
.cf:before, .cf:after {
    content: '';
    display: table;
}
.cf:after {
    clear:both;
}

/* old browsers clearfix */
.cf {*zoom:1;}


body {
    margin:0;  
    box-sizing: border-box; 
    font-family: 'Wendy+One|Libre+Baskerville', arial, sans-serif;
    overflow-y: hidden;  
}

h1 {
    text-align: center;
}

.wrapper {
    display: block;
    min-height: 100vh;
    overflow:hidden;
}


/*
* heading section
* ---------------    
*/

header {

}


/*
* main content section
* --------------------
*/

.maincontent {
    width:100%;
    max-width: 918px;
    margin:0 auto;
}

.main {
  display: block;
  overflow: hidden;
   
}

.headings {

}

#results {
    height: 80vh;
    display: block;
    overflow: auto;
}

.allartists {
    display: block;
    width:100%;
    min-height: 100%;
    overflow-y: hidden;
    position: relative;

    
}

.allartists > .artist {
    padding:0 3px;
}

.artist {
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 4;
}

/* artist div overlay */
.artistolay {
    position: absolute;
    display: block;
    width:98%;
    height: 100%;
    top: 0;
    left: 3px;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 2;
    cursor: pointer;
}


.artist img {
    width: 100%;
    max-width: 300px;
    /*border: 1px solid #bcc8c9;*/
    margin: 0 auto;
    display: block;
    /*border:1px solid #fff;*/
    /*box-sizing: border-box;*/
    z-index: 4;

}

/* circle hover effect */
.artist::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    padding: 0;
    margin:0;
    content: '';
    width: 0;
    height: 0;
    background: rgba(255,255,255,.2);
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.artist:hover::before {
    -webkit-animation: circle .25s;
    animation: circle .25s;
}


@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}



/* 
*  artist hover 
** ------------
*/

.artist:hover img {
    opacity: .5;
    z-index: 4;
    -webkit-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
    overflow: hidden;
}

.artist:hover .info {
    background-color: #151414;
    opacity: .98;
   
}


/* brings heading to img center */
.artist:hover h3 {
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 2em;
    opacity: 1;
    color: #fff;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transition:color .4s ease-out;
    transition:color .4s ease-out;
   
}


/* makes an apperance */
.artist:hover .info h4 {
    bottom:8px;
    color:#eaeaea;
    -webkit-transition:.5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 3;
    display: block;
    opacity: 1;
    text-align: left;
    letter-spacing: .8px;
}

/* 
* ...endof artist hover..        
*/

.spacer {
    display: none;
}


/* 
*  artist info div 
** ---------------
*/

.info {
    background-color: #424141;
    padding:5px;
    border:1px solid #424141;
    border-top:1px solid #9E9E9E;
    box-sizing: border-box;
    height: 50px;
}

/* artist info heading */

h3 {
    text-align: center;
    width: 100%;
    font-weight: 400;
    color: #797979;
    z-index: 5;
    max-width: 288px;
    margin: 0 auto;
    overflow: hidden;
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    position: absolute;
}

/* artist info stats */
h4 {   
    width: 20%;
    margin:0;
    font-weight: 400;
    text-align: left;
    font-size: 75%;
    letter-spacing: .3px;
    z-index: 0;
}

/* artist info stat1 */
.info h4:first-of-type {
    opacity: 0;
    position: absolute;
    left: 20%;
    bottom: -70px;  
}

/* artist info stat2 */
.info h4:last-of-type {
    opacity: 0;
    position: absolute;
    right:20%;
    bottom: -70px;  
}

/* 
* ...endof artist info..        
*/



/*
** footer
** ------
**/

footer {
    background-color: #000;
    width:100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.mainfootop {
    padding: 10px 0 0 0;
    position: relative;
    width: 100%;
    height: 70px;
    display: block;
    background: brown;
    box-shadow: 1px -1px 0px #b1b1b1;
}

.mainfootop p {
    margin:0;
    text-align: center;
    color:#fff;
    font-size: 90%;
}

.farrow-left {
    position: absolute;
    left: 25%;
    line-height: 40px;
    top: 25%;
}

.farrow-left::after {
    content: 'prev 50';
    color:#8d0000;
    display: inline-block;
    margin-left: 10px;
    line-height: 50px;
    vertical-align: top;
}

.farrow-right {
    position: absolute;
    right: 25%;
    line-height: 40px;
    top:25%;

}

.farrow-right::before {
    content: 'next 50';
    color:#8d0000;
    display: inline-block;
    margin-right: 10px;
    line-height: 50px;
    vertical-align: top;
}


.innerfoot {
    display: block;
    overflow: hidden;
}

.innerfoot a {
    color: #8e0000;
    font-weight: 100;
    text-decoration: none;
    cursor: pointer;
}

.innerfoot a:active {
    outline: none;
}

.innerfoot a:hover {
    color:#e3e3e3;
}

.innerfoot img {
    vertical-align: top;
}

.mainfootbottom {
    overflow:hidden;
    display: block;
}

.mainfootbottom small {
    line-height: 30px;
}

small {
    color: #545b6bb3;
    text-align: center;
    display: block;
   
    font-weight: 200;
    font-style: oblique;
}

#isposition {
    height: 65px;
}

#isposition small {
    display: inline-block;
    margin-left: 10px;
}

#isposition p {
    vertical-align: middle;
    line-height: 65px;
    font-size: 1.5em;
}



/*
*  media queries
* --------------
*/



@media screen and (max-width: 1024px) {

    #results {
        height: 86vh;
    }

    .farrow-left {
        left: 12%;
        top:7%;
    }

    .farrow-right {
        right: 12%;
        top:7%;
    }

    .farrow-left::after, .farrow-right::before {
        font-size: 1.25em;
        line-height: 70px;
        vertical-align: top;

    }

    .innerfoot a {
        font-size: 1.5em;
    }



}


@media screen and (max-width: 768px) {

    .maincontent {
        width:100%;
        max-width: 657px;
    }

    #results {
        height: 81.25vh;
    }

    .artist:nth-child(3n+1) {
        margin-right: 1.4em;
    }

    .artist:nth-child(3n+2) {
        margin-left:1.4em;
    }

    .spacer {
        display: block;
        height: 2rem;
    }

    .farrow-left {
        left: 11%;
        top:10%;
    }

    .farrow-right {
        right: 12%;
        top:10%;
    }

    .farrow-left::after, .farrow-right::before {
        font-size: 1em;
        line-height: 63px;
        vertical-align: text-bottom;

    }

    .innerfoot a {
        font-size: 1.35em;
    }


}



@media screen and (max-width: 414px) {

    #modinfo.modalOn {
        padding-top:20px;
        padding-bottom: 120px;
    }

    .maincontent {
        max-width: 300px;
    }

    #results {
        height: 74vh;
    }

    .artist {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .info {
        max-width: 300px;
        margin:0 auto;
    }

    .info h3 {
        max-width: 275px;
    }


    .spacer {
        display: none;
    }

    .allartists > .artist {
        margin-bottom: 1em;
    }

    .allartists > .artist:last-child {
        margin-bottom: 0;
    }

    .farrow-left {
        left: 7%;
        top:24%;
    }

    .farrow-right {
        right: 7%;
        top:24%;
    }

    .farrow-left::after, .farrow-right::before {
        content: '';
        font-size: 1em;
        line-height: 66px;
        vertical-align: bottom;

    }

    footer {
        z-index: 7;
    }

    .innerfoot a {
        font-size: 1em;
    }

    #isposition p {
        line-height: 66px;
        font-size: 1.35em;
    }

    .albums .artimg img {
        float:none;
        margin:0 auto;
        display: block;
    }

    .albums .artimg h5 {
        width: 100%;
        text-align: center;
    }

    .albums .artimg small {
        text-align: center;
    }

    .albums .aminfo {
        width: 100%;
    }

    .albums .aminfo small {
        text-align: center;
    }

    .albums .aminfo p {
        text-align: center;
    }



}


@media screen and (max-width: 375px) {
    #results {
        height: 71.5vh;
    }

    .info h3 {
        max-width: 282px;
    }
}


@media screen and (max-width: 320px) {
    #results {
        height: 67vh;
    }

    .info h3 {
        max-width: 281px;
    }


}
















